body {
    background-color: #00102A;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#banner {
    width: 100%;
}

#profile-img {
    object-fit: cover;
    border-radius: 50%;
    height: 40%;
    position: absolute;
    top: 10%;
    left: 5%;
}

.basic-details {
    position: absolute;
    left: 30%;
}

.basic-details span {
    margin-right: 60px;
}

a {
    color: white;
}

.section {
    background-color: #FFD771;
    color: #00102A;
    margin: 15% 50px 20px 50px;
    padding: 20px 80px;
}

.education {
    padding-top: 5px;
    padding-bottom: 10px;
}

.section h2 {
    text-decoration: underline;
}

.section p, .section h4 {
    line-height: 2px;
}
