body {
    background-color: #00102A;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#banner {
    width: 100%;
}

.section h2 {
    text-decoration: underline;
}

a {
    color: white;
}

#profile-img {
    border-radius: 50%;
    height: 150px;
    margin: auto;
    display: block;
}

.basic-details {
    text-align: center;
}

.basic-details span {
    display: block;
}

.section {
    background-color: #FFD771;
    color: #00102A;
    margin: 30px;
    padding: 10px 20px;
}

.education h4 {
    margin-bottom: 5px;
}

.education p {
    margin-top: 5px;
    padding-bottom: 20px;
}

.leadership-img {
    width: 100px;
}

.leadership {
    padding-top: 5px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media only screen and (min-width: 1000px) {
    #profile-img {
        border-radius: 50%;
        height: 40% !important;
        position: absolute;
        top: 10%;
        left: 5%;
    }
    
    .basic-details {
        text-align: start;
        position: absolute;
        left: 30%;
    }
    
    .basic-details span {
        display: inline;
        margin-right: 60px;
    }
    
    .section {
        background-color: #FFD771;
        color: #00102A;
        margin: 15% 100px 20px 100px;
        padding: 20px 80px;
    }
    
    .section:last-of-type {
        margin-top: 30px;
    }
    
    .education {
        padding-top: 5px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .section h2 {
        text-decoration: underline;
    }
    
    .section p, .section h4 {
        line-height: 2px;
    }
    
    .leadership-img {
        width: 100px;
    }
    
    .leadership {
        padding-top: 5px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .leadership div {
        margin-left: 20px;
    }
}